
* {
   font-family: monospace;
   color: white;
   font-weight: 900;
   text-align: center;
   box-sizing: border-box;


}
html, body{
   margin: 0;
   background-color: #6e6b4b1c

}

body {
	background-image: url('../images/pomodoro-bg.svg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
	

ul {
   list-style: none;
}

li {
   padding: 0px;
   margin: 0px;
   font-size: 48px;
   border: 0px;
   display: inline;
}

.animation-area {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 600px;
}

.box {
	width: 60px;
	height: 60px;
	background-color: black;
}

.grid {
   display: grid;
   grid-template: repeat(12, 1fr) / repeat(8, 1fr);
   width: 100%;
   grid-gap: 10px;
   height: 100vh;
  
}

.item {
   border-radius: 40px;

}

.clock-display {
   grid-area: 3 / 3 / span 1 / span 4;
   background-color: #1b2d31cb;
   font-size: 36px;
   border-radius: 90px;
}

.clock-top-left {
   grid-area: 4 / 3 / span 1 / span 2;
   background-color: #1f6779cb;
}

.clock-top-right {
   grid-area: 4 / 5 / span 1 / span 2;
   background-color: #1f6779cb;
   
   
}

.clock-bottom-left {
   grid-area: 5 / 3 / span 1 / span 2;
   background-color: #1f6779cb;
}

.clock-bottom-right {
   grid-area: 5 / 5 / span 1 / span 2;
   background-color: #1f6779cb;

}



/* IDK whether this is the correct way to go. I am thinking maybe we would use a single column only for phones.*/
@media screen and (max-width: 600px) {

}